// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  font-size: 70px;
  margin-left: 0;
}

div.clock {
  font-size: 30px;
  padding-top: 55px;
  margin-left: inherit;
}
