<li><%= link_to 'Camper Leaderboard', campers_path%></li>
<%if user_signed_in?%>
  <li><%= link_to 'New Camper', new_camper_path%></li>
  <%if current_user.try(:admin?)%>
    <li><%= link_to 'Users', users_path%></li>
  <%end%>
<%end%>
